<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433 -->
<configuration>
  <appSettings>
      <add key="ClientId" value="24be322a-bc35-4a13-9b7d-f2ae799707c6" />
      <add key="redirectUri" value="http://localhost:41880/" />
      <add key="Tenant" value="common" />
      <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0" />
  </appSettings>


  <connectionStrings>
    <add name="dbSchedule" connectionString="server=cantorix; initial catalog=db0902;trusted_connection=yes" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PracticeStream" maxReceivedMessageSize="2147483647" transferMode="Streamed" />
        <binding name="BasicHttpBinding_Practice2" />
        <binding name="BasicHttpBinding_Practice" />
        <binding name="BasicHttpBinding_Practice1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dogmatix/RwpSvc/RwpSvc.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Practice2" contract="RwpSvcLocal.Practice" name="BasicHttpBinding_Practice" />
      <endpoint address="http://dogmatix/RwpSvc/RwpSvc.svc/soapStream" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PracticeStream" contract="RwpSvcLocal.Practice" name="BasicHttpBinding_PracticeStream" />
      <endpoint address="http://thetasoft2.azurewebsites.net/rwpsvc/RwpSvc.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Practice" contract="RwpSvcStaging.Practice" name="BasicHttpBinding_Practice1" />
      <endpoint address="http://thetasoft2.azurewebsites.net/rwpsvc/RwpSvc.svc/soapStream" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Practice1" contract="RwpSvcStaging.Practice" name="BasicHttpBinding_Practice11" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>