<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!-- These are here for symmetry, but in reality the transforms never run on a local machine deployment -->
    <appSettings xdt:Transform="SetAttributes" file="Secrets/SecretAppSettings_Local.config">
    </appSettings>

    <connectionStrings xdt:Transform="SetAttributes" configSource="Secrets/SecretSettings_Local.config">
    </connectionStrings>
</configuration>

